.card-action-container {
  margin-top: 48pt;
  background-color: #EDF3FF;
  width: 100%;
  border-top-left-radius: 25pt;
  border-top-right-radius: 25pt;

  .card-action {
    display: inline-block;
    text-align: center;
    width: 67px;
    margin: 10pt 0pt 10pt 10pt;

    .action-name {
      width: 40pt;
      height: 36pt;
      font-size: 10pt;
      margin-top: 10pt;
    }
  }

  .card-details-header {
    margin-top: 20pt;

  }
}