.inner-nav {

  .inner-nav-container {
    height: 26pt;
    margin-bottom: 30pt
  }

  a {
    color: #FFFFFF;
    font-size: 13pt;
    padding-bottom: 5.5pt;
    text-decoration: none;
    margin: 0pt 10pt 0pt 9pt;
  }

  a:hover {
    border-bottom: 3px solid #23CEFD;
    color: #FFFFFF;
}

}